{% extends "boldog/base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="container text-center">
<h1>KÓDOT MEGADNI!!! </h1>
<h1>NEM SZAROZNI, BELÉPNI!!!</h1>
</div>
<div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="{% static 'images/monkey.jpg' %}" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post" action="{% url 'boldog:user_login' %}">
                  {% csrf_token %}

                <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" value=""required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" value="" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
            </form>

                </div>

            <!-- /form -->

        </div><!-- /card-container -->
    </div><!-- /container -->

{% endblock %}